<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BootCampMovieApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    @RenderSection("message",false)

    @await Html.PartialAsync("_navbar")
   
    @RenderSection("header",false)

    <div class="container mt-3">
        @if(IsSectionDefined("menu"))
        { 
            <div class="row">
                <div class="col-md-3">
                    @RenderSection("menu",false)
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12"></div>
                @RenderBody()
            </div>
        }
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - BootCampMovieApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
